*.iml
.gradle
/local.properties

/.idea/*
!/.idea/compiler.xml
!/.idea/gradle.xml
!/.idea/misc.xml
!/.idea/icon.png

.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/github_credential.properties
