name: Ktlint Format

on:
  pull_request:
    branches:
      - 'develop'
    types:
      - closed

env:
  GRADLE_KTLINT_TASK: 'ktlintFormat'

jobs:
  format:
    name: Format with ktlint
    runs-on: ubuntu-20.04
    if: github.event.pull_request.merged == true
    steps:
      - name: Check out
        uses: actions/checkout@v3
        with:
          ref: ${{ github.base_ref }}
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: "zulu"
          java-version: "11"
      - name: Restore gradle cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/buildSrc/**/*.kt', '**/libs.versions.toml') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Format with ktlint
        run: ./gradlew $GRADLE_KTLINT_TASK
      - name: Create pull request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: 'Format with ktlint'
          author: 'GitHub <noreply@github.com>' # ワークフローファイルの作成者になってしまう問題を回避
          title: 'Format with ktlint (auto generated)'
          body: 'This PR was automatically generated by the [${{ github.workflow }}](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}).'
          branch: 'feature/ktlint-format'
          branch-suffix: 'short-commit-hash' # 同じプルリクは作らない
