name: Pull Request Check

on: pull_request

jobs:
  check:
    name: PR Check
    runs-on: ubuntu-20.04
    steps:
      - name: Check out
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up lib repository
        run: git clone https://github.com/Seo-4d696b75/MyAndroidLibrary.git ../MyAndroidLibrary
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: "zulu"
          java-version: "11"
      - name: Restore gradle cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/buildSrc/**/*.kt', '**/libs.versions.toml') }}
      - name: Run ktlint
        run: ./gradlew ktlintCheck
      - name: Run Android Lint
        run: ./gradlew lint