name: Pull Request Check

on: pull_request

jobs:
  check:
    name: PR Check
    runs-on: ubuntu-20.04
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/.github/workflows/Gemfile
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"
          cache: "gradle"
      - name: Set up Ruby # gem を利用するので Ruby をセットアップ
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
      - name: Setup credentials
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > app/release.jks
          echo "${{ secrets.PWD_BASE64 }}" | base64 -d > app/gradle.properties
          touch github_credential.properties
          echo "username=${{ github.actor }}" >> github_credential.properties
          echo "token=${{ secrets.GITHUB_TOKEN }}" >> github_credential.properties
      - name: Run ktlint
        run: ./gradlew ktlintCheck
      - name: Run Android Lint
        run: ./gradlew lint
      - name: Run Unit Test
        run: ./gradlew testDebugUnitTest --stacktrace
      - name: Run Danger
        uses: MeilCli/danger-action@v6
        # FIXME 暫定処置：PRの差分ファイル数が300を超えると落ちる
        if: false # cancelled() != true # 中断されない限り、エラーでも実行
        with:
          plugins_file: '.github/workflows/Gemfile'
          install_path: 'vendor/bundle'
          danger_file: '.github/workflows/pull-request-check.danger'
          danger_id: 'danger-pr'
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
